
. middle {
   vertical-align:middle;
}

div.metaline {
   display:block;
   padding:0px;
   margin:0px;
}

div.metaitem {
   float:left;
   text-align:middle;
   padding-right:10px;
}

fieldset.repolist ul li {
   display:block;
   float:left;
   width:300px;
}

